:root{
    --laranja: #f47521;
    --preto: #141414;
    --branco: #FFFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}
body{
    background-color: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

/*Em destaque*/
.anime-principal{
    font-size: 16px;
    background:linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url(../img/capa\ rezero3.png);
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}
.anime-principal .descricao{
    margin-bottom: 90px;
    margin-top: 3%;
}
.titulo{
    margin-top: 10%;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.botao{
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    transition: .5s ease all;
}
.botao:hover {
    background-color: var(--branco);
    color: var(--laranja);
}
.botao i{
    margin-right: 7px;
}
.container{
    margin-left: 20px;
}
.anime-principal .container{
    width: 70%;
}
.box-anime{
    height: 440px;
    width: 100%;
    display: block;
}
.carrosel-animes{
    margin-top: 10px;
}
.purple{
    color: rgb(121, 107, 167);
}
